Repository Behzad-rabiei/pnpm-workspace: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

.lefthook.yml:

# Lefthook 1.11.x
general:
  parallel: true            # run independent commands concurrently

pre-commit:
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json}"
      run: pnpm format --write {staged_files}
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm lint {staged_files}

commit-msg:
  commands:
    commitlint:
      # {1} = .git/COMMIT_EDITMSG
      run: pnpm exec commitlint --edit {1}

pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm check          # tsc / build-time checks
    test:
      run: pnpm test --run     # vitest; change flags as you like

x
  .lefthook.yml
  .prettierrc
Due: none

x
  .lefthook.yml
Due: none

feat(x.y): hshaha
  .lefthook.yml
  apps/api/biome.json
  apps/api/src/app.controller.ts
  apps/api/src/contour/app.controller.spec.ts
  apps/api/src/contour/app.controller.ts
  apps/api/src/foo/foo.service.test.ts
  apps/api/src/foo/foo.service.ts
  apps/api/src/main.ts
  apps/ui/biome.json
  apps/ui/src/App.tsx
  apps/ui/src/main.tsx
  apps/ui/src/sanity.test.ts
  apps/workflows/biome.json
  apps/workflows/src/hello.service.test.ts
  apps/workflows/src/hello1.service.test.ts
  apps/workflows/src/index.ts
  commitlint.config.mjs
  lefthook.yml
  package.json
  packages/reputation-algorithms/biome.json
  packages/reputation-algorithms/src/hello.service.test.ts
  packages/reputation-algorithms/src/index.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: format, lint

feat(api): added new endpoint
  lefthook.yml
Due: none

feat: x
  lefthook.yml
Due: none

feat: fe
  biome.json
Due: format

chore: f
  apps/api/biome.json
  apps/api/src/app.controller.ts
  apps/api/src/app.service.ts
  apps/api/src/contour/app.controller.spec.ts
  apps/api/src/contour/app.controller.ts
  apps/api/src/foo/foo.service.test.ts
  apps/api/src/foo/foo.service.ts
  apps/api/src/main.ts
  apps/ui/biome.json
  apps/ui/src/App.tsx
  apps/ui/src/main.tsx
  apps/ui/src/sanity.test.ts
  apps/workflows/biome.json
  apps/workflows/src/hello.service.test.ts
  apps/workflows/src/hello1.service.test.ts
  apps/workflows/src/index.ts
  biome.json
  packages/reputation-algorithms/biome.json
  packages/reputation-algorithms/src/hello.service.test.ts
  packages/reputation-algorithms/src/index.ts
Due: format, lint

feat: d
  apps/api/biome.json
  apps/api/src/app.controller.ts
  apps/api/src/app.service.ts
  apps/api/src/contour/app.controller.spec.ts
  apps/api/src/contour/app.controller.ts
  apps/api/src/foo/foo.service.test.ts
  apps/api/src/foo/foo.service.ts
  apps/api/src/main.ts
  apps/ui/biome.json
  apps/ui/src/App.tsx
  apps/ui/src/main.tsx
  apps/ui/src/sanity.test.ts
  apps/workflows/biome.json
  apps/workflows/src/hello.service.test.ts
  apps/workflows/src/hello1.service.test.ts
  apps/workflows/src/index.ts
  packages/reputation-algorithms/biome.json
  packages/reputation-algorithms/src/hello.service.test.ts
  packages/reputation-algorithms/src/index.ts
Due: format, lint

feat: c
  .github/workflows/ci.yml
Due: none

feat(d): d
  .npmrc
Due: none

ci(f): f
  .npmrc
Due: none

ci(fd): f
  .npmrc
  pnpm-lock.yaml
Due: none

feat: e
  README.md
  docker-compose.yml
  package.json
Due: format

revert(d): d
  README.md
Due: none

ci(f): 2
  .github/workflows/ci.yml
  package.json
Due: format

feat(f): f
  lefthook.yml
Due: none

feat(d): d
  lefthook.yml
Due: none

feat(we): e
  .changeset/wise-garlics-mix.md
  lefthook.yml
Due: none

feat: d
  lefthook.yml
Due: none

feat(f): f
  apps/api/src/app.service.ts
Due: format, lint

feat(d): d
  apps/api/src/app.service.ts
  packages/reputation-algorithms/src/hello.service.ts
Due: format, lint

feat(f): f
  .changeset/fine-parents-share.md
  packages/reputation-algorithms/src/hello.service.ts
Due: format, lint

feat(f): f
  packages/reputation-algorithms/src/hello.service.test.ts
Due: format, lint

feat(e): e
  lefthook.yml
  packages/reputation-algorithms/src/hello.service.ts
Due: format, lint

feat(d): 332
  apps/api/src/app.service.ts
  packages/reputation-algorithms/src/hello.service.ts
Due: format, lint

feat(api): add new routes
  .changeset/README.md
  .changeset/config.json
  .github/workflows/ci.yml
  .releaserc.json
  apps/api/CHANGELOG.md
  apps/api/src/app.service.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: format, lint

feat(api): new route
  apps/api/src/app.service.ts
Due: format, lint

refactor: update app and packages
  apps/ui/CHANGELOG.md
  apps/workflows/CHANGELOG.md
  packages/reputation-algorithms/CHANGELOG.md
Due: none

feat: d
  .github/workflows/ci.yml
  .releaserc.json
  package.json
Due: format

feat(y): y
  pnpm-lock.yaml
Due: none

feat(api): add routes
  .github/workflows/ci.yml
  .releaserc.json
  apps/api/src/app.service.ts
Due: format, lint

feat: add
  apps/api/src/app.service.ts
Due: format, lint

feat(e): e
  apps/api/CHANGELOG.md
  apps/api/package.json
  apps/ui/CHANGELOG.md
  apps/workflows/CHANGELOG.md
Due: format

feat(d): d
  .releaserc.json
  package.json
  packages/reputation-algorithms/CHANGELOG.md
  pnpm-lock.yaml
Due: format

fix(api): a
  .releaserc.json
  apps/api/.releaserc.json
  apps/api/package.json
  package.json
Due: format

feat(d): d
  apps/api/.releaserc.json
Due: format

revert(s): s
  pnpm-lock.yaml
Due: none

feat(s): s
  apps/api/.releaserc.json
Due: format
